{% extends 'base.html' %}
<body>
{% block content %}
    <style type="text/css">
        /* Remove the navbar's default rounded borders and increase the bottom margin */
        .navbar {
            margin-bottom: 50px;
            border-radius: 0;
        }
        /* Remove the jumbotron's default bottom margin */
        .jumbotron {
            margin-bottom: 0;
        }
        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }

        div {
            text-align: center;
        }
        form{
            margin: 20px 0;
        }

        form input, button{
            padding: 5px;
        }

        table{
            width: 100%;
            margin-bottom: 20px;
            border-collapse: collapse;
        }

        table, th, td{
            border: 1px solid #cdcdcd;
        }

        table th, table td{
            padding: 10px;
            text-align: center;
        }
        .button{
          border:1px solid #333;
          background:#6479fd;
        }
        .button:hover{
          background:#a4a9fd;
        }

        .choose{
          display:none;
        }
        .submit_change{
          display:none;
        }
        .dialog{
          border:5px solid #666;
          padding:10px;
          background:#3A3A3A;
          position:absolute;
          display:none;
        }
        .dialog label{
          display:inline-block;
          color:#cecece;
        }
        input[type=text]{
          border:1px solid #333;
          display:inline-block;
          margin:5px;
        }
        #btnOK{
          border:1px solid #000;
          background:#ff9999;
          margin:5px;
        }

        #btnOK:hover{
          border:1px solid #000;
          background:#ffacac;
        }
    </style>

    <div class="jumbotron">
    <div class="container text-center">
        <h1>Change Work Orders</h1>
    </div>
    </div>
    <form>
        <table align='center' id="User_table">
            <thead>
            <tr id="myTable">
                <th>Select</th>
                <th>Job Number</th>
                <th>Is Job Active</th>
                <th>Customer Name</th>
                <th>Department Name</th>
                <th>Part Number</th>
                <th>Machine Number</th>
                <th>Qty Ordered</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </form>
    <div>
        <button type="button" class="view-info" id="view-info">Select Work Order</button>
        <button type="button" class="submit_change" id="submit_change">Submit Changes</button>
    </div>

    <div class="choose" id="panelChange">
        <input type="button" class="button" value="Change Qty Ordered" id="btn1">
        <input type="button" class="button" value="2" id="btn2">
        <input type="button" class="button" value="3" id="btn3">
        <br>
        <form action="vote" method="post">
            <label for="your_name">Your name: </label>
            <input id="valueFromMyModal" type="number" min="0" name="your_name" value="{{ valueFromMyModal1 }}">
            <input id="dueDate" type="number" min="0" name="due_date" value="{{ dueDate }}">
            <input type="submit" value="OK">
            {% csrf_token %}
            <!-- Dialog Box-->
            <div class="dialog" id="myform">
                <form>
                    <input onclick="myFunction()" type="button" value="Ok" id="btnOK">
                    <label id="valueFromMyButton">
                    </label>
                    <input type="number" min="0" id="name">
                    <div align="center">
                    </div>
                </form>
            </div>
        </form>
    </div>
</body>
{% endblock content %}
{% block jquery %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script type="text/javascript">
    var defaultData = [];
    var labels = [];
    $(document).ready(function() {
        $(function () {
            $.ajax({
                url:"/api/chart/getworktableAll/",
                method:"GET",
                data:"",
                dataType:"JSON",
                    success:function(result){
                    $.each(JSON.parse(result), function(idx, obj) {
	                populateTable(obj);
                    });
                    },
                error:function(xhr,status,error){
                    console.log("error: "+error);
                }
            });
            $(".view-info").click(function(){
                $("table tbody").find('input[name="record"]').each(function(){
                    if($(this).is(":checked")){
                    }
                    else{
                        $(this).parents("tr").remove();
                    }
                });
            });
            $(".submit_change").click(function(){
                $("table tbody").find('input[name="record"]').each(function(){
                    if($(this).is(":checked")){
                        var jobNumDB = $("table tbody").find(".jobNum").html();
                        var newValue = $("#valueFromMyModal").val();
                        $(this).parents("tr").remove();
                        $.ajax({
                            url:"/api/chart/changeworkinfo/",
                            method:"GET",
                            data: {'jobnum': jobNumDB, 'newQty': newValue},
                            dataType:"JSON",
                            success:function(result){
                                $.each(JSON.parse(result), function(idx, obj){
                                    populateTable(obj);
                                });
                            },
                            error:function(xhr,status,error){
                            console.log("error: "+error);
                            }
                        });
                    }
                    else{
                        var jobNumDB2 = $("table tbody").find(".jobNum").html();
                        var newValue2 = $("#valueFromMyModal").val();
                        $(this).parents("tr").remove();
                        $.ajax({
                            url:"/api/chart/changeworkinfo/",
                            method:"GET",
                            data: {'jobnum': jobNumDB2, 'newQty': newValue2},
                            dataType:"JSON",
                            success:function(result){
                                $.each(JSON.parse(result), function(idx, obj){
                                    populateTable(obj);
                                });
                            },
                            error:function(xhr,status,error){
                            console.log("error: "+error);
                            }
                        });
                        $(this).parents("tr").remove();
                    }
                });
            });
        });
    });
    function populateTable(usersInfo){
            var markup = "<tr><td><input type='checkbox' name='record'></td> <td class='jobNum'>" + usersInfo.jobNum + "</td><td class='active'>" + usersInfo.active + "</td><td class='dob'>" + usersInfo.customer_ID + "</td><td class='usern'>" + usersInfo.department_ID + "</td><td class='pwd'>" + usersInfo.partID + "</td><td class='pwd'>" + usersInfo.machineID + "</td><td class='pwd'>" + usersInfo.qtyOrdered + "</td></tr>";
            $("table tbody").append(markup);
    }

</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    $(function() {
        $("#view-info").click(function() {
            //$("#myform #valueFromMyButton").text($(this).val().trim());
            //$("#myform input[type=text]").val('');
            $("#view-info").hide();
            $("#submit_change").show(500);
            $("#panelChange").show(1000);

        });
        $("#btnOK").click(function() {
            $("#valueFromMyModal").val($("#myform input[type=text]").val().trim());
            $("#myform").hide(400);
        });
    });
    $(function() {
        $(".button").click(function() {
            $("#myform #valueFromMyButton").text($(this).val().trim());
            $("#myform input[type=text]").val('');
            $("#myform").show(500);

            $('[data-column-id=market]').text()
        });
        $("#btnOK").click(function() {
            $("#valueFromMyModal").val($("#myform input[type=text]").val().trim());
            $("#myform").hide(400);
        });
    });
</script>
{% endblock %}

