{% extends 'base.html' %}
<body>
{% block content %}
    <style type="text/css">
        /* Remove the navbar's default rounded borders and increase the bottom margin */
        .navbar {
            margin-bottom: 50px;
            border-radius: 0;
        }
        /* Remove the jumbotron's default bottom margin */
        .jumbotron {
            margin-bottom: 0;
        }
        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }

        div {
            text-align: center;
        }
        form{
            margin: 20px 0;
        }

        form input, button{
            padding: 5px;
        }

        table{
            width: 100%;
            margin-bottom: 20px;
            border-collapse: collapse;
        }

        table, th, td{
            border: 1px solid #cdcdcd;
        }

        table th, table td{
            padding: 10px;
            text-align: center;
        }
        .button{
          border:1px solid #333;
          background:#6479fd;
        }
        .button:hover{
          background:#a4a9fd;
        }
        .button2{
          border:1px solid #333;
          background:#6479fd;
        }
        .button2:hover{
          background:#a4a9fd;
        }
        .choose{
          display:none;
        }
        .dialog{
          border:5px solid #666;
          padding:10px;
          background:cornflowerblue;
          position:relative;
          display:none;
        }
        .dialog label{
          display:inline-block;
          color:white;
        }
        input[type=text]{
          border:1px solid #333;
          display:inline-block;
          margin:5px;
        }
        #btnOK{
          border:1px solid #000;
          background:#ff9999;
          margin:5px;
        }

        #btnOK:hover{
          border:1px solid #000;
          background:#ffacac;
        }
        #btnDelete{
            border:1px solid #000;
            background:#ff9999;
            margin:5px;
        }

        #btnDelete:hover{
            border:1px solid #000;
            background:#ffacac;
        }
    </style>
    <div class="jumbotron">
    <div class="container text-center">
        <h1>Change Work Orders</h1>
    </div>
    </div>
    <form>
        <table align='center' id="User_table">
            <thead>
            <tr id="myTable">
                <th>Select</th>
                <th>Job Number</th>
                <th>Is Job Active</th>
                <th>Customer Name</th>
                <th>Department Name</th>
                <th>Part Number</th>
                <th>Machine Number</th>
                <th>Qty Ordered</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </form>
    <div>
        <button type="button" class="view-info" id="view-info">Select Work Order</button>
    </div>
    <div class="choose" id="panelChange">
        <input type="button" class="button" value="Change Qty Ordered" id="btn1">
        <input type="button" class="button" value="Delete Work Order" id="btn2">
        <input type="button" class="button" value="Refresh List" id="btn3">
        <br>
        <!-- Dialog Box-->
        <div class="dialog" id="myform">
            <form>
                <label>
                    <h2>Enter New Value:</h2>
                </label>
                <input type="number" min="0" id="name">
                <input class="button" type="button" value="Submit" id="btnOK">
                <div align="center">
                </div>
            </form>
        </div>
        <div class="dialog" id="myformDelete">
                <form>
                    <label>
                        <h2>Are you sure you want to delete this job?</h2>
                    </label>
                    <input class="button" type="button" value="Submit" id="btnDelete">
                    <div align="center">
                    </div>
                </form>
        </div>
    </div>
</body>
{% endblock content %}
{% block jquery %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $(function () {
            $.ajax({
                url:"/api/chart/getworktableAll/",
                method:"GET",
                data:"",
                dataType:"JSON",
                    success:function(result){
                    $.each(JSON.parse(result), function(idx, obj) {
	                populateTable(obj);
                    });
                    },
                error:function(xhr,status,error){
                    console.log("error: "+error);
                }
            });
            $(".view-info").click(function(){
                $("table tbody").find('input[name="record"]').each(function(){
                    if($(this).is(":checked")){
                    }
                    else{
                        $(this).parents("tr").remove();
                    }
                });
            });
            $("#btnOK").click(function(){
                $("table tbody").find('input[name="record"]').each(function(){
                    if($(this).is(":checked")){
                        var jobNumDB = $("table tbody").find(".jobNum").html();
                        var newValue = $("#name").val();
                        $(this).parents("tr").remove();
                        $.ajax({
                            url:"/api/chart/changeworkinfo/",
                            method:"GET",
                            data: {'jobnum': jobNumDB, 'newQty': newValue},
                            dataType:"JSON",
                            success:function(result){
                                $.each(JSON.parse(result), function(idx, obj){
                                    populateTable(obj);
                                });
                            },
                            error:function(xhr,status,error){
                            console.log("error: "+error);
                            }
                        });
                        $("#myform").hide(700);
                    }
                    else{
                        var jobNumDB2 = $("table tbody").find(".jobNum").html();
                        var newValue2 = $("#name").val();
                        $(this).parents("tr").remove();
                        $.ajax({
                            url:"/api/chart/changeworkinfo/",
                            method:"GET",
                            data: {'jobnum': jobNumDB2, 'newQty': newValue2},
                            dataType:"JSON",
                            success:function(result){
                                $.each(JSON.parse(result), function(idx, obj){
                                    populateTable(obj);
                                });
                            },
                            error:function(xhr,status,error){
                            console.log("error: "+error);
                            }
                        });
                        $("#myform").hide(700);
                        $(this).parents("tr").remove();
                    }
                });
            });
             $("#btnDelete").click(function(){
                 console.log("btnDelete");
                $("table tbody").find('input[name="record"]').each(function(){
                    if($(this).is(":checked")){
                        var jobNumDB = $("table tbody").find(".jobNum").html();
                        $(this).parents("tr").remove();
                        $.ajax({
                            url:"api/chart/deleteWorkInfo/",
                            method:"GET",
                            data: {'jobnum': jobNumDB},
                            dataType:"JSON",
                            success:function(result){
                                console.log(result);
                                $.each(JSON.parse(result), function(idx, obj){
                                    populateTable(obj);
                                });
                            },
                            error:function(xhr,status,error){
                            console.log("error: "+error);
                            }
                        });
                        $("#myformDelete").hide(700);
                    }
                });
             });
             $("#btn3").click(function(){
                 var select = 0;
                 $("table tbody").find('input[name="record"]').each(function(){
                     if($(this).is(":checked")){
                         $(this).parents("tr").remove();
                         getWorkInfo();
                         $("#panelChange").hide(700);
                         $("#view-info").show(700);
                         select ++;
                     }
                     else{
                         $(this).parents("tr").remove();
                         getWorkInfo();
                         $("#panelChange").hide(700);
                         $("#view-info").show(700);
                         select ++;
                     }
                 });
                 if (select == 0){
                     getWorkInfo();
                 }
             });
        });
    });
    function populateTable(usersInfo){
            var markup = "<tr><td><input type='radio' name='record'></td> <td class='jobNum'>" + usersInfo.jobNum + "</td><td class='active'>" + usersInfo.active + "</td><td class='dob'>" + usersInfo.customer_ID + "</td><td class='usern'>" + usersInfo.department_ID + "</td><td class='pwd'>" + usersInfo.partID + "</td><td class='pwd'>" + usersInfo.machineID + "</td><td class='pwd'>" + usersInfo.qtyOrdered + "</td></tr>";
            $("table tbody").append(markup);
    }
    function getWorkInfo(){
        $.ajax({
            url:"/api/chart/getworktableAll/",
            method:"GET",
            data:"",
            dataType:"JSON",
            success:function(result){

                $.each(JSON.parse(result), function(idx, obj) {
                populateTable(obj);
                });
            },
            error:function(xhr,status,error){
            console.log("error: "+error);
            }
        });
        $("#panelChange").hide(700);
        $("#view-info").show(700);
    }
</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(function() {
        $("#view-info").click(function() {
            $("#view-info").hide();
            $("#panelChange").show(1000);
        });
    });
    $(function() {
        $("#btn1").click(function() {
            $("#myform input[type=number]").val('');
            $("#myformDelete").hide(700);
            $("#myform").show(1000);
            $('[data-column-id=market]').text()
        });
    });
    $(function() {
        $("#btn2").click(function() {
            $("#myform").hide(500);
            $("#myformDelete").show(1000);
            $('[data-column-id=market]').text()
        });
    });
</script>
{% endblock %}

