{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
   <li>Welcome back: {{ user.get_username }}</li>
   <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
   <li><a href="{% url 'Data_users'%}?next={{request.path}}">Chart users</a></li>
    <li><a href="{% url 'usertable'%}?next={{request.path}}">Active Work </a></li>
   {% else %}
        <p>Please Log in:</p>
   <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
   {% endif %}

{% endblock %}









