

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">

{##}
            var data = localStorage.getItem('myMainKey1');
            if (data !== undefined) {
                console.log("we are here now");
                console.log(data);
            }
            var newinfo = localStorage.getItem('myMainKey');
            if (newinfo !== undefined) {
                console.log("we are here now 2");
                console.log("is this it" + newinfo);
                 console.log("we are here now 2");
            }
            localStorage.clear('myMainKey');
            localStorage.clear('myMainKey1');



    </script>
</head>
<body>

</body>
</html>