{% extends 'base.html' %}

{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
{#    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>#}
{#    <style type="text/css">#}
{#        /* Remove the navbar's default rounded borders and increase the bottom margin */#}
{#        .navbar {#}
{#            margin-bottom: 50px;#}
{#            border-radius: 0;#}
{#        }#}
{#        /* Remove the jumbotron's default bottom margin */#}
{#        .jumbotron {#}
{#            margin-bottom: 0;#}
{#        }#}
{#        /* Add a gray background color and some padding to the footer */#}
{#        footer {#}
{#            background-color: #f2f2f2;#}
{#            padding: 25px;#}
{#        }#}
{#        div {#}
{#            text-align: center;#}
{#        }#}
{#        form{#}
{#            margin: 20px 0;#}
{#        }#}
{#        form input, button{#}
{#            padding: 5px;#}
{#        }#}
{#        table{#}
{#            width: 100%;#}
{#            margin-bottom: 20px;#}
{#            border-collapse: collapse;#}
{#        }#}
{#        table, th, td{#}
{#            border: 1px solid #cdcdcd;#}
{#        }#}
{#        table th, table td{#}
{#            padding: 10px;#}
{#            text-align: left;#}
{#        }#}
{#    </style>#}

</head>
<body>
{% block content %}
    <style type="text/css">

        /* Remove the navbar's default rounded borders and increase the bottom margin */

        .navbar {

            margin-bottom: 50px;

            border-radius: 0;

        }

        /* Remove the jumbotron's default bottom margin */

        .jumbotron {

            margin-bottom: 0;

        }

        /* Add a gray background color and some padding to the footer */

        footer {

            background-color: #f2f2f2;

            padding: 25px;

        }

        div {

            text-align: center;

        }

        form{

            margin: 20px 0;

        }

        form input, button{

            padding: 5px;

        }

        table{

            width: 100%;

            margin-bottom: 20px;

            border-collapse: collapse;

        }

        table, th, td{

            border: 1px solid #cdcdcd;

        }

        table th, table td{

            padding: 10px;

            text-align: left;

        }

    </style>
<div class="jumbotron">
    <div class="container text-center">
        <h1>Job Information</h1>

    </div>
</div>
<form>
    <table align='center' id="User_table">
        <thead>
        <tr>
            <th>Select</th>
            <th>Job ID</th>
            <th>Job Number</th>
            <th>Is Job Active</th>
            <th>Customer Name</th>
            <th>Department Name</th>
            <th>Part Number</th>
            <th>Machine Number</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</form>
<div>
    <button type="button" class="view-info">View Job Info</button>
    <a href="/"><button type="button" class="back-to-home">Back to Home Page</button></a>
</div>

<div class='row'>
    <div class='col-sm-12'>
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
</div>

</body>
{% endblock content %}
<script>
{% block jquery %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script type="text/javascript">
    var defaultData = [];
    var labels = [];
    $(document).ready(function() {
        $(function () {
            var defaultData = [];
            var labels = [];
            $.ajax({
                url:"/api/chart/getworktable/",
                method:"GET",
                data:"",
                dataType:"JSON",
                    success:function(result){
                    $.each(JSON.parse(result), function(idx, obj) {
	                labels = obj.userID;
	                defaultData = obj.userName;
	                populateTable(obj);
                    });
                    },
                error:function(xhr,status,error){
                    console.log("error: "+error);
                }
            });
            $(".view-info").click(function(){
                var i = 0;
                $("table tbody").find('input[name="record"]').each(function(){
                if($(this).is(":checked")){
                    var result;
                    var valii = i;
                    $.ajax({
                        url:"/api/chart/getworktable/",
                        method:"GET",
                        data:"",
                        dataType:"JSON",
                        success:function(result){
                            var arrayOfObjects = eval(result);
                            var passtochart = arrayOfObjects[valii];
                            console.log(passtochart);
                            setChart(passtochart);
                        },
                        error:function(xhr,status,error){
                            console.log("error: "+error);
                        }
                    });
                }
                else{
                    i++;
                    $(this).parents("tr").remove();
                }
            });
        });


        });
    });
    function populateTable(usersInfo){
            var markup = "<tr><td><input type='checkbox' name='record'></td> <td class='fname'>" + usersInfo.jobID + "</td><td class='lname'>" + usersInfo.jobNum + "</td><td class='email'>" + usersInfo.active + "</td><td class='dob'>" + usersInfo.customer_ID + "</td><td class='usern'>" + usersInfo.department_ID + "</td><td class='pwd'>" + usersInfo.partID + "</td><td class='pwd'>" + usersInfo.machineID + "</td></tr>";
            $("table tbody").append(markup);
    }
    function setChart(obj) {
        var jobinfo = obj;
        console.log(jobinfo["customer_ID"]);

        labels = ["Qty Finished", "Scrap Qty"]
        defaultData = [[jobinfo.qty_finished], [jobinfo.qty_scrap]]

        console.log("default" + defaultData);
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Work information',
                data: defaultData,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    }
</script>
{% endblock %}

