<!DOCTYPE html>
<html lang="en">
<head>
    <title>EDHR</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <style type="text/css">
        /* Remove the navbar's default rounded borders and increase the bottom margin */
        .navbar {
            margin-bottom: 50px;
            border-radius: 0;
        }
        /* Remove the jumbotron's default bottom margin */
        .jumbotron {
            margin-bottom: 0;
        }
        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
        div {
            text-align: center;
        }
        form{
            margin: 20px 0;
        }
        form input, button{
            padding: 5px;
        }
        table{
            width: 100%;
            margin-bottom: 20px;
            border-collapse: collapse;
        }
        table, th, td{
            border: 1px solid #cdcdcd;
        }
        table th, table td{
            padding: 10px;
            text-align: left;
        }
    </style>

</head>
<body>

<div class="jumbotron">
    <div class="container text-center">
        <h1>Active Work</h1>
        <p>Table of all work</p>
    </div>
</div>

{#<nav class="navbar navbar-inverse">#}
{#    <div class="container-fluid">#}
{#        <div class="navbar-header">#}
{#            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#            </button>#}
{#            <a class="navbar-brand" href="#">Logo</a>#}
{#        </div>#}
{#        <div class="collapse navbar-collapse" id="myNavbar">#}
{#            <form style="text-align: center">#}
{#                <input type="number" name="userID" placeholder="userID">#}
{#                <input type="text" name="userName" placeholder="First Name">#}
{#                <input type="text"  name="lname" placeholder="Last Name">#}
{#                <input type="text"  name="email" placeholder="Email Address">#}
{#                <input type="date"  name="dob" placeholder="Date of Birth">#}
{#                <input type="text"  name="usern" placeholder="Username">#}
{#                <input type="text"  name="passw" placeholder="Password"><br>#}
{#                <input type="button" id="createuser" value="Add User">#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}
<form>
    <table align='center' id="User_table">
        <thead>
        <tr>
            <th>Select</th>
            <th>Job ID</th>
            <th>Job Number</th>
            <th>Is Job Active</th>
            <th>Customer Name</th>
            <th>Department Name</th>
            <th>Part Number</th>
            <th>Machine Number</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</form>
<div>
    <button type="button" class="view-info">View Job Info</button>
    <a href="/"><button type="button" class="back-to-home">Back to Home Page</button></a>
</div>

</body>

<script type="text/javascript">
    $(document).ready(function() {
        $(function () {
            var defaultData = [];
            var labels = [];
            $.ajax({
                url:"/api/chart/getworktable/",
                method:"GET",
                data:"",
                dataType:"JSON",
                    success:function(result){
                    $.each(JSON.parse(result), function(idx, obj) {
	                {#alert(obj.userID);#}
	                labels = obj.userID;
	                defaultData = obj.userName;
	                populateTable(obj);
                    });
                    {#labels = result.userID;#}
                    {#defaultData = result.userName;#}
                    console.log("labels" + labels);
                    console.log("defaultData" + defaultData);
                    console.log("result" + result);
                    {#populateTable(result);#}
                    console.log("lenght");
                    console.log(result.length);
                },
                error:function(xhr,status,error){
                    console.log("error: "+error);
                }
            });
            $(".delete-row").click(function(){
                var i = 0;
                $("table tbody").find('input[name="record"]').each(function(){
                    console.log(i)
                    if($(this).is(":checked")){
                        console.log($(this));
                        var result;
                        $.ajax({
                            url:"/student/",
                            method:"GET",
                            data:"",
                            dataType:"JSON",
                            success:function(result){
                                console.log("IT WORKED");
                                console.log("i = " + i);
                                var student = result[i];
                                console.log("student here " + student.userID);
                                console.log(result);
                                removeUser(result, i);
                            },
                            error:function(xhr,status,error){
                                console.log("error: "+error);
                            }
                        });
                        $(this).parents("tr").remove();
                    }
                    else{
                        i++;
                        console.log("testing here" + i);
                    }
                });
            })
        });
    });
    function populateTable(usersInfo){
        var table = document.getElementById("user-table");
        var len = usersInfo.length;
        console.log("pupulate student = " + usersInfo + "lenght" + len)
        {#for (var i = 0; i<len; i++){#}
        {#    var student = students[i];#}
             {#console.log(student[i])#}
            var markup = "<tr><td><input type='checkbox' name='record'></td> <td class='fname'>" + usersInfo.jobID + "</td><td class='lname'>" + usersInfo.jobNum + "</td><td class='email'>" + usersInfo.active + "</td><td class='dob'>" + usersInfo.customer_ID + "</td><td class='usern'>" + usersInfo.department_ID + "</td><td class='pwd'>" + usersInfo.partID + "</td><td class='pwd'>" + usersInfo.machineID + "</td></tr>";
            $("table tbody").append(markup);
    }
    function removeUser(students, i){
        var table = document.getElementById("student-table");
        var num = i;
        console.log("num = " + num);
        var len = students.length;
        console.log("function call");
        var student = students[i];
        console.log(student);
        console.log(student.userID);
        $.ajax({
            url: "/student/deleteline",
            method: "POST",
            data: student,
            dataType: "HTML",
            success: function (result) {
                console.log(result);
                $('#response').html(result);
            },
            error: function (xhr, status, error) {
                console.log("error: " + error);
            }
        });
    }
</script>


<footer class="container-fluid text-center">
    <p>Active work</p>
</footer>

</body>
</html>